<ion-header>
  <ion-toolbar>
    <ion-title>
      Form Builder Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-custom-form-builder
    [showSubmitButton]="false"
    [showCardIcons]="true"
    [formFields]="fields"
    [submitButtonText]="'Submit'"
    [showIcons]="false"
    [returnCreditCardType]="true"
    (formSubmission)="onIonCfbFormSubmission($event)">
  </ion-custom-form-builder>

  <ion-row>
    <ion-col>
      <ion-button expand="block" color="primary" (click)="onClickMyOwnSubmitButton()">
        Submit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
